
@{
    ViewBag.Title = "DuplicateJobApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry...</h2>
<hr />

<div class="jumbotron">
    <h4>You have already applied for this job.</h4>
</div>

@Html.ActionLink("Back To Jobs","Jobs","Home")
