
@{
    ViewBag.Title = "PlacementOffice";
    Layout = "~/Views/Shared/CompanyDashboardLayout.cshtml";
}

<h2>GCU Lahore Placement Office</h2>
<hr />
<h4>
    Career Guidance &amp; Placement Center GC University, Lahore
</h4>


<span class="glyphicon glyphicon-lock" aria-hidden="true"></span><p class="active"> @ViewBag.Message</p>

<p>Email <bolder style="font-weight:bolder">placement@gcu.edu.pk</bolder> with companies original Email ID to confirm account and post jobs.</p>

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight:bolder">Contact Details</div>
            <div class="panel-body">
                <span style="font-weight:bolder ; font-size:large">Email:</span><span style="padding-left:55px">placement@gcu.edu.pk</span> <br />
                <span style="font-weight:bolder ; font-size:large">Tel:</span><span style="padding-left:75px">+92 42 99214594</span><br />
                <span style="font-weight:bolder ; font-size:large">UAN:</span><span style="padding-left:60px">111-000-01 Ext:421</span><br />
                <span style="font-weight:bolder ; font-size:large">Cell:</span><span style="padding-left:70px">0313-9990079</span>
            </div>
            <div class="panel-footer">Mubasher Hassan</div>
        </div>
    </div>
</div>