@{
    ViewBag.Title = "Site Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Site Admin Main Page.</h2>

<hr />

<div class="row">
    <div class="col-md-2 well">
        @Html.ActionLink("Companies Data", "Company", "Admin", null, new { @class = "btn btn-default" ,@style="width:100%"}) <hr />
        @Html.ActionLink("Students Data", "Student", "Admin",null, new { @class = "btn btn-default", @style = "width:100%" }) <hr />
        @Html.ActionLink("Site Roles", "Index", "Role", null, new { @class = "btn btn-default", @style = "width:100%" })  <hr />   
    </div>

    <div class="panel panel-primary col-md-8 col-md-offset-1">
        <div class="panel-heading" style="font-weight:900">
            <h3 class="panel-title">...</h3>
        </div>
        @*Page Data*@
    </div>
</div>